// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~font-awesome/scss/font-awesome";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Animate css
@import "~animate.css";

//Owl Carousel
// @import "~owl.carousel/src/scss/owl.carousel";
// @import "~owl.carousel/src/scss/owl.theme.default";

// Ion Icons
// @import "~ionicons/dist/scss/ionicons.scss";

@import "landing";

.modal .modal-content .modal-body .group-success .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.modal .modal-content .modal-body .group-error .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.group-success .confirm-terms {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.group-success .form-control {
    border: 1px solid #28a745 !important;
}

.group-error .form-control {
    border: 1px solid #dc3545 !important;
}
.group-error .confirm-terms {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.45);
}
.msg-success {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #28a745;
}

.msg-error {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fff;
}

.msg-error-red {
    display: none;
    width: 100% !important;
    margin-top: 0.25rem !important;
    font-size: 80% !important;
    color: #dc3545 !important;
}

.group-success .msg-success {
    display: block;
}

.group-error .msg-error {
    display: block;
}

.group-error .msg-error-red {
    display: block;
}

.btn-send {
    border: 1px solid #c3c3c3;
    background-color: #1b4dc5;
    padding: 6px 35px;
    color: white;
    text-transform: uppercase;
}
.btn-send:hover,
.btn-send:focus,
.btn-send.focus {
    background-color: #3d92cc;
    color: white;
}

.btn-group-error {
    margin-bottom: 20px;
}
